* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
  background-image: url(https://img.freepik.com/free-vector/game-landscape-with-tropical-plants_105738-749.jpg?w=1380&t=st=1694103314~exp=1694103914~hmac=68dd17fb2e210f3d990f725193c798e7e979ed51c79fab90abe600b991d09c50);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%;
}
header {
  background-color: gray;
  padding: 1rem;
  text-align: center;
  color: white;
}
footer {
  background-color: gray;
  padding: 1rem;
  text-align: center;
  color: white;
}
main {
  min-height: calc(100% - 4rem);
  height: 100vh;
  background: linear-gradient(to bottom, yellow, red);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-box {
  height: 400px;
  width: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, yellow, orange);
  border-radius: 50%;
}
